body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-image: url('imgs/bkg_image_space.jpg');
    background-size: cover;
    background-position: center;
    height: 300px;
    position: relative;
    text-align: center;
    color: white;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    bottom: 0;
    width: 100%;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
    display: block;
}

nav ul li a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
}

.header-content {
    position: absolute;
    top: 44%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.profile-pic {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: 5px solid white;
    margin-top: 20px;
}

h1 {
    margin-top: 0px;
    font-size: 36px;
    color: white;
}

main {
    padding: 20px;
}

p {
    font-size: 18px;
}

h2 {
    font-size: 32px; /* Increase the size of h2 titles */
    margin-bottom: 10px;
    color: #333; /* Optional: adjust the color for better contrast */
}



section {
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd; /* Light gray bottom border */
    margin-bottom: 20px; /* Space below each section */
}

.publications-box {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
    height: 300px; /* Fixed height for the box */
    overflow-y: scroll; /* Makes the box scrollable if content exceeds height */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional: add shadow for depth */
}

.publications-box ul {
    list-style-type: none;
    padding: 0;
}

.publications-box ul li {
    margin-bottom: 15px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

.btn , .contact-btn {
    display: inline-flex;
    align-items: center;
    padding: 8px 16px; /* Smaller padding for a smaller button */
    font-size: 14px; /* Smaller font size */
    color: white !important;
    background-color: rgba(0, 80, 158, 0.8); /* Dark blue with 80% opacity */
    text-decoration: none;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease; /* Add transition for smooth hover effect */
    margin-top: 0px; /* Add margin to separate from text */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add shadow for depth */
}

.btn:hover, .contact-btn:hover {
    background-color: rgba(0, 102, 204, 0.8); /* Lighter blue with 80% opacity on hover */
    transform: scale(1.05); /* Slightly enlarge the button on hover */
}

.btn i, .contact-btn i {
    margin-right: 8px; /* Space between icon and text */
    color: white;
}

@media (max-width: 768px) {
    .header-content {
        width: 100%;
        text-align: center;
    }

    .profile-pic {
        width: 100px;
        height: 100px;
    }

    h1 {
        font-size: 24px;
    }
}

html {
    scroll-behavior: smooth;
}